

.show-posters {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: flex-end;
  margin-top: -2em;
  margin-right: 2em;
}

.show-posters .poster img {
  max-height: 300px;
  border-radius: 16px;
}

.show-posters .poster {
  text-align: center;
}
